* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;																						
}

body {
	background-color: hsl(217, 54%, 11%);
	font-size: 1.125rem;			
	color: hsl(0, 0%, 100%);			
	font-family: 'outfit';						
}

.card {
	width: 85%;
	max-width: 300px;			
	margin: 60px auto;			
	padding: 20px;			
	border-radius: 10px;
	background-color: hsl(216, 50%, 16%);								
}

.card .main-image {
	position: relative;
}

.card .main-image div {
	position: absolute;
	top: 0;
	background-color: hsl(178, 100%, 50%, 60%);
	width: 100%;
	height: 100%;
	/* height: calc(100% - 4px); */
	z-index: 999;
    border-radius: 10px;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
}

.card .main-image div:hover {
	opacity: 100;
	cursor: pointer;
}

.card .main-image div img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.equilibrium{
	width:100%;
	border-radius: 10px;		
}	  

.equilibrium:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;			
}

h2 {
	margin: 1.6rem 1.6rem 1.6rem 0;
}

h2:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;					
}

.paragraph {
	line-height: 2rem;
	color: hsl(215, 51%, 70%);			
}

.alert{
	display: flex;
	flex-direction: row;
	justify-content: space-between;			
	margin-top: 1.5rem;			
}			

.eth {
	display: flex;	
	flex-direction: row;			
	color: hsl(178, 100%, 50%);			
}

.time {
	display: flex;		
	flex-direction:row;			
	color: hsl(215, 51%, 70%);			
}

.icon {
	width: 10px;
	margin-right: 0.625rem;
}			

.icon2 {
	width: 18px;			
	margin-right: 0.625rem;			
}

.border-bottom {
	border-bottom: 1px solid hsl(215, 32%, 27%);
	margin: 1.5rem 0 1.5rem 0;
}			

.profile {
	display: flex;
	flex-direction: row;			
	align-items: center;			
}

.profile-image {
	width: 15%;
	border: 1px solid white;			
	border-radius: 50%;			
	margin-right: 1rem;			
}

.profile-paragraph:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;
}			

span {
	color: hsl(215, 51%, 70%);
}
